body {
  background: url('bg.png');
  cursor: default;
  -webkit-user-select: none;
}

.select_js_box {
  background: rgba(255,255,255,0.15);
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: 100px;
  opacity: 1;
  transition: opacity 0.2s ease;
  border: 1px solid rgba(255,255,255,0.58);
  z-index: 200;
  box-sizing: border-box;
}

.select_js_box.hide {
  opacity: 0;
}

.selectables {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 150px;
  overflow: visible;
}

.selectables div {
  display: inline-block;
  background: #ccc;
  margin: 20px;
  width: 50px;
  height: 50px;
  padding: 20px;
  border: 5px solid #eee;
}

.selectables .selected {
  background: rgba(30, 30, 200, 0.3);
}

.selectables .draggable {
  position: absolute;
  margin: 0;
  z-index: 20;
}

.selectables .placeholder {
  background: #555;
  border-color: #333;
}

.drop-zone {
  background: rgba(0,0,0,0.4);
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 150px;
}

.drop-zone.droppable {
  background: black;
}